* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  height: 100vh;
}
.contacto_seccion {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #f4f4f4;
}
.usuario {
  display: flex;
  align-items: center;
  border: 1px solid #bbb;
  padding-left: 30px;
  flex-grow: 0.1;
  padding: 10px 30px;
  justify-content: space-between;
}
.foto_nombre {
  display: flex;
  align-items: center;
}
.imagen_usuario {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.estado_usuario {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.lista_contactos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.contactos {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #bbb;
  padding-left: 30px;
}
.imagen_contactos {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.contacto-info {
  display: flex;
  flex-direction: column;
}
.nombre {
  font-weight: bold;
}
.mensaje {
  font-size: 0.9rem;
  color: #666;
}
.boton_nuevo_chat {
  padding: 1rem 4rem;
  background-color: #a491d2;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 35px;
}
.boton {
  display: flex;
  justify-content: center;
}
.SECCION_PRINCIPAL {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.logo {
  width: 350px;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.parrafo1 {
  font-family: "Roboto", sans-erif;
  font-size: 45px;
  margin-bottom: 5px;
}
.parrafo2 {
  font-family: "Roboto", sans-erif;
  font-size: 20px;
  margin-bottom: 5px;
}
.parrafo3 {
  font-family: "Roboto", sans-erif;
  font-size: 20px;
  margin-bottom: 5px;
}
.iconos {
  display: flex;
  gap: 15px;
}